body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

  /***************************************** Top Nav CSS *****************************************/
.navbar {
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logo {
    width: 180px;
    height: auto;
    margin-right: 20px;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    width: 20px; 
    height: 20px; 
    margin-right: 10px;
  }
  
  .search-bar {
    flex: 1;
    margin: 0 20px;
    position: relative;
  }
  
  .search-bar input[type="text"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 30px;
  }
  
  .right-icons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 160px; 
    transform: translateY(-50%);
    width: 15px; 
    height: 15px; 
    background-image: url("/Images/searchIcon.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none; 
  }

  /***************************************** Left Side Nav CSS *****************************************/
  .sidebar {
    position: fixed;
    top: 50px;
    background-color: white;
    height: 100%;
    width: 200px;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100% - 50px);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #ddd;
    width: 150px;
}

.sidebar::-webkit-scrollbar {
  width: 0.5em;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: white;
}

.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

  /* Scrollbar For FireFox */
.sidebar {
  scrollbar-width: none;
}


.leftNavHeadings {
  font-size: small;
  color: grey;
  margin-bottom: 25px;
  margin-top: 25px;
}

  /***************************************** Main Body CSS *****************************************/
.mainBody {
  position: fixed;
  top: 50px;
  left: 200px;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: rgba(173, 179, 184, 0.808);
}

.mainBodyContent {
  padding: 20px;
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.boxContainer {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  align-items: center;
  width: calc(25% - 10px);
  height: 150px;
  background-color: white;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 10px;
  overflow: hidden;
}

.fullWidthBox {
  grid-column: 1 / span 4;
  height: 320px;
  background-color: white;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 25px;
}

.secondRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.boxSecondRow {
  height: 280px;
  background-color: white;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 25px;
}

.secondFullWidthBox {
  grid-column: 1 / span 4;
  height: 425px;
  background-color: white;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 25px;
}

.thirdRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.boxThirdRow {
  height: 425px;
  background-color: white;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
}

  /***************************************** Box Content CSS *****************************************/

  /*top four boxes*/
.right-half {
  flex: 1;
  padding: 20px;
}

.right-half img {
  max-width: 120px;
  max-height: 120px;
  margin-left: 20px;
}

.left-half {
  flex: 1;
  padding: 20px;
}

.left-half h3 {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.left-half h4 {
  font-size: 16px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.left-half p {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/*first full width box*/
.top-right-section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.button {
  padding: 8px 16px;
  margin-top: 5px;
  margin-right: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

#options-button {
  color: white;
  background-color: orange;
}

#view-all-button {
  color: white;
  background-color: #6a1fe2;
}

.table-section {
  margin-bottom: 20px;
  width: 50%;
}

table {
  width: 30%;
  border-collapse: collapse;
  margin-left: 1350px;
  border: none;
}

td {
  border: none;
  padding: 8px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: small;
}

.large-image-section img {
  width: 70%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 15px;
  position: relative;
  top: -200px;
  left: 100px;
}

.large-image-section {
  display: flex;
  justify-content: space-between;
}

.Icons-with-text-section {
  text-align: left;
}

.Icons-with-text-section img {
  width: 50px;
  height: 50px;
}

#Weekly-earnings {
  position: relative;
  text-align: center;
  top: -190px;
  right: 550px;
  line-height: .2;
  font-family: Arial, Helvetica, sans-serif;
}

#Monthly-earnings {
  position: relative;
  text-align: center;
  top: -310px;
  right: 130px;
  line-height: .2;
  font-family: Arial, Helvetica, sans-serif;
}

#Yearly-earnings {
position: relative;
text-align: center;
top: -427px;
right: -230px;
line-height: .2;
font-family: Arial, Helvetica, sans-serif;
}

#Weekly-earnings-img {
  position: relative;
  top: -185px;
  left: 250px;
}

#Monthly-earnings-img {
  position: relative;
  top: -310px;
  left: 665px;
}

#Yearly-earnings-img {
  position: relative;
  top: -420px;
  right: -1025px;
}

/*Second Row Three Boxes*/
.boxSecondRow h1 {
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}

.boxSecondRow img {
  max-width: 300px;
  max-height: 300px;
}

#firstGraphImage {
  position: relative;
  left: 100px;
  bottom: 15px;
}

#secondGraphImage {
  position: relative;
  left: 100px;
  bottom: 15px;
}

#thirdGraphImage {
  position: relative;
  left: 100px;
  bottom: 15px;
}

/*Second Full width Box*/
.secondFullWidthBox h1 {
  font-size: 20px;
  position: relative;
  top: 10px;
  left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#fullWidthBoxSearch {
  position: relative;
  left: 1400px;
  top: -25px;
}

/*Task Table*/
#assignmentTable {
  width: 100%;
  border-collapse: collapse;
  margin-left: -0px; 
}

#assignmentTable th,
#assignmentTable td {
  padding: 10px 60px; 
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#assignmentTable tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#assignmentTable tr:nth-child(even) {
  background-color: #ffffff;
}

/*Status bar*/
.statusBar {
  background-color: #eaeaea;
  position: relative;
  height: 5px;
  border-radius: 10px;
  margin-top: 20px;
}

.statusBarProgress {
  height: 100%;
  border-radius: 5px;
  position: relative;
}

.progressText {
  position: absolute;
  top: -10px;
  left: 20%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/*Priorities*/
.priority-box {
  padding: 5px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.low-priority {
  background-color: green;
}

.average-priority {
  background-color: rgb(58, 201, 226);
}

.high-priority {
  background-color: red;
}

#highPriority {
  background-color: red;
}

#averagePriority {
  background-color: rgb(58, 201, 226);
}

#lowPriority {
  background-color: green;
}

/*Action Button*/
.Action {
  color: #007BFF;
  font-family: Arial, Helvetica, sans-serif;
  border-color: #007BFF;
  border-width: 1px;
  border-radius: 3px;
  padding: 5px 5px;
}

/*Support Ticket Box*/
.boxThirdRow h1 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 25px;
}

.search-box {
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
  left: 580px;
  top: -40px;
}

.search-input {
  border: none;
  background-color: transparent;
  outline: none;
  flex: 1;
  padding: 5px;
}

/*Users and comments*/
.userProfileContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
  justify-content: space-between;
}

.userProfile {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin-right: 10px;
  margin-left: 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.userInfo p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.userNumber {
  font-weight: bold;
  margin-right: 5px;
  color: grey;
}

.subject {
  font-weight: bold;
  color: #007BFF;
  font-size: 11px;
}

.comment {
  color: black;
  font-size: 10px;
}

.details {
  color: rgb(168, 168, 168);
  font-size: 12px;
}

.keyWord {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ffffff;
  border-radius: 10px;
  padding: 5px 10px;
}

#feature {
  background-color: green;
  position: relative;
  left: -10px;
}

#bug {
  background-color: rgb(179, 132, 4);
  position: relative;
  left: -10px;
}

#query {
  background-color: rgb(59, 8, 177);
  position: relative;
  left: -10px;
}

#enhancement {
  background-color: rgb(2, 111, 161);
  position: relative;
  left: -10px;
}

/*View All Link*/
.viewAllLink {
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  }
  
  .viewAllLink a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .viewAllLink a:hover {
    text-decoration: underline;
  }
  
/*Project Payments*/
.projectsSection {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.projectPaymentTable {
  width: 100%;
  border-collapse: collapse;
}

.projectPaymentTable th, 
.projectPaymentTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  font-size: 10px;
}

.projectPaymentTable th {
  background-color: #f2f2f2;
}

.projectPaymentTable tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.projectPaymentTable tr:hover {
  background-color: #eaeaea;
}